/2023.1/Java_OO/target/
/2023.1/busca_vetorial/target/
/Calculadora_1/target/
/2023.1/Busca_Vetorial_Euclidiana/target/
/2023.1/Histograma/nbproject/
/2023.1/P1_observer/nbproject/
/2023.1/P1_observer/target/
